@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0px;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    color: #fff;
    text-align: center;

}
header{
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
}
main{
    padding: 30px 50px;
    color: #111;
}
.card{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}
.line-input{
    color: #111;
    display: grid;
    margin-bottom: 10px;
}
.separate{
    justify-content: space-evenly;
    display: flex;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}
button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;;
}
button:hover{
    background-color: rgb(102, 44, 156);
    transition: .5s ease-in-out;
}
.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    color: #111;

}
table th{
    background-color: rgb(214, 214, 214);
    padding: 1px 5px;
}
table td img{
    width: 22px;
    align-items: center;
}
.center{
    text-align: center;
}